<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/Page12.css">
    <title>Discover.Explore.Inspire.</title>
</head>
<body>
    <section class="imagenes">
        <img class="olas" src="../src/stora/img/OlasPag12.png">
        <img class="estrella-1" src="../src/stora/img/Estrella1.png">
        <img class="estrella-2" src="../src/stora/img/Estrella.png">
        <img class="spiral" src="../src/stora/img/spiralPag12.png">
    </section>
    <section class="texto">
        <h1><span>Discover.</span> <span>Explore.</span> <span>Inspire.</span></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Faucibus in libero risus semper habitant arcu eget.Et integer facilisi eget diam.</p>
        <button>Explore</button>
    </section>
    <section class="imagenes2">
        <img class="img1" src="../src/stora/img/Imagen1Page12.png">
        <img class="img2" src="../src/stora/img/Imagen2Page12.png">
        <img class="img3" src="../src/stora/img/Imagen3Page12.png">
    </section>
    <section class="perfil">
        <img src="../src/stora/img/photoPag12.png">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.</p>
    </section>
</body>
</html>