<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/Page13.css">
    <title>Create your design</title>
</head>
<body>
    <img class="img1" src="../src/stora/img/StarPage13.png">
    <img class="img2" src="../src/stora/img/StarPage13.png">
    <img class="img3" src="../src/stora/img/PartyPage13.png">
    <img class="img4" src="../src/stora/img/ExplosionPage13.png">
    
    <section class="card-1">
        <p class="numero-1">01</p>
        <p class="texto-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus.</p>
    </section>
    <section class="card-2">
        <p class="numero-2">02</p>
        <p class="texto-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus.</p>
    </section>

    <section class="texto3">
        <img src="../src/stora/img/GradientbgPage13.png">
        <h1>Create your design</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget.</p>
        <button>Explore</button>
    </section>

    <img class="imgprin-1" src="../src/stora/img/ImagebottomPage13.png">
    <img class="imgprin-2" src="../src/stora/img/ImagetopPage13.png">


</body>
</html>