<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/Page6.css">
    <title>THE eWatch with the newest microchip technology</title>
</head>
<body>
    <main>
        <section class="seccion__columna-1">
            <div class="div__circulo">
                <img src="../src/stora/img/Font-circle.png">
            </div>
            <article class="articulo__contenido">
                <h1>THE eWatch with the newest microchip technology</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.</p>
                <section class="seccion__botones-contenido">
                    <div class="div__boton-1">
                        <button>Order now</button>
                    </div>
                    <div class="div__boton-2">
                        <button>Explore more</button>
                    </div>
                </section>
            </article>
            <article class="articulo__lista">
                <div class="div__marco-lista">
                    <div class="div__imagen-lista">
                        <img src="../src/stora/img/Icons.png">
                    </div>
                    <h3>Lorem ipsum dolor amet</h3>
                </div>
                <div class="div__marco-lista">
                    <div class="div__imagen-lista">
                        <img src="../src/stora/img/Icons (1).png">
                    </div>
                    <h3>Lorem ipsum dolor amet</h3>
                </div>
                <div class="div__marco-lista">
                    <div class="div__imagen-lista">
                        <img src="../src/stora/img/Icons (2).png">
                    </div>
                    <h3>Lorem ipsum dolor amet</h3>
                </div>
                <div class="div__marco-lista">
                    <div class="div__imagen-lista">
                        <img src="../src/stora/img/Icons (3).png">
                    </div>
                    <h3>Lorem ipsum dolor amet</h3>
                </div>
            </article>
        </section>
        <section class="seccion__columna-2">
            <article class="articulo__grupo-imagen">
                <div class="div__estrella-1">
                    <img src="../src/stora/img/star (1).png">
                </div>
                <div class="div__estrella-2">
                    <img src="../src/stora/img/star (2).png">
                </div>
                <div class="div__estrella-3">
                    <img src="../src/stora/img/star (3).png">
                </div>
                <div class="div__etiqueta-1">
                    <h3>Award winning product</h3>
                </div>
                <div class="div__etiqueta-2">
                    <h3>Ergonomic design</h3>
                </div>
                <div class="div__trazo-1">
                </div>
                <div class="div__trazo-2">
                </div>
                <div class="div__imagen-unsplash">
                    <img src="../src/stora/img/unsplash_QRWAdBCqysc.png">
                </div>
            </article>
        </section>
    </main>
</body>
</html>
