<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/Page10.css">
    <title>Desing.Create.Inspire</title>
</head>
<body>
    <section class="texto">
        <h1><span>Desing.</span> <span>Create.</span> <span>Inspire.</span></h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda nemo quod, 
        explicabo impedit natus autem et aliquid ex culpa doloremque nihil saepe ipsa doloribus maxime, voluptate accusamus quasi quos iure!</p>
        <button>Explorar</button>
    </section>
    <section class="seccionimagen">
        <div class="imagen">
            <img src="../src/stora/img/Imagen1.png">
            <img src="../src/stora/img/Imagen2.png">
            <img src="../src/stora/img/Imagen3.png">
            <img src="../src/stora/img/Imagen4.png">
        </div>
        <div class="imagen">
            <img src="../src/stora/img/Imagen5.png">
            <img src="../src/stora/img/Imagen6.png">
            <img src="../src/stora/img/Imagen7.png">
            <img src="../src/stora/img/Imagen8.png">
        </div>
        <div class="imagen">
            <img src="../src/stora/img/Imagen9.png">
            <img src="../src/stora/img/Imagen10.png">
            <img src="../src/stora/img/Imagen11.png">
            <img src="../src/stora/img/Imagen12.png">
        </div>
        <div class="imagen">
            <img src="../src/stora/img/Imagen13.png">
            <img src="../src/stora/img/Imagen14.png">
            <img src="../src/stora/img/Imagen15.png">
            <img src="../src/stora/img/Imagen16.png">
        </div>
    </section>
</body>
</html>
