<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/Page5.css">
    <title>Projects and practice</title>
</head>
<body>
    <div class="encabezado">
        <h1>Projects and practice</h1>
    </div>
    <div class="tarjeta">
        <div class="contenedor-tarjeta">
            <div class="numero">01</div>
            <div class="texto-tarjeta">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</div>
            <img src="../src/stora/img/Image1-Pag5.png" alt="Imagen 1" class="imagen-tarjeta">
        </div>
</body>
</html>