@import url(variable.css);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding: 64px;
}

.header_class {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 24px;
}

.header_title{ 
  color: var(--color-2);
  font-size: 64px;
  font-weight: 800;
  line-height: 80px;
  margin-bottom: 24px;
  width: 610px;
  font-family: "Avenir-Heavy";
}

.header_text{
  color: var(--color-3);
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 24px;
  width: 607px;
  font-family: "Avenir-Roman";
  margin-top: -30px;
}

.explore_container{
    display: flex;
    justify-content: center;
    margin-top: -20px;
}

.explore_button{
  font-family:"Avenir-Roman";
  padding: 18px 50px;
  border-radius: 16px;
  background: var(--color-2);
  color: var(--color-4);
  font-size: 18px;  
  font-weight: 400;
  cursor: pointer;
  border: none;
}

.images{
  width: 345px;
  height: 288px;
  flex-shrink: 0;
  border-radius: 16px;
}

.images_list {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}