@import url(../css/variable.css);
.container{
    display: flex;
    align-items: center;
    height: 420px ;
    gap: 2rem;
}

.header{
    max-width: 250px;
    text-align: left;
    padding: 30px;
}

.header_title{
    height: 140px ;
    font-family:"Avenir-Heavy";
    color: var(--color-2)
}

.header_text{
    font-family:"Avenir-Roman";
    color: var(--color-3);
    margin: 1rem 0;
}

.header_button{
    font-family:"Avenir-Roman";
    background-color: var(--color-2);
    color: var(--color-4);
    border: none;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    border-radius: 10px;
}

.Image_Left{
    max-width: 280px;
    margin-right: -10px;
}

.Image_Right{
    max-width: 280px;
    margin-top: 210px;
}