@import url(variable.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Avenir-Roman";
    color: var(--color-2);
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.caja-texto {
    width: 531px;
    height: 208px;
    font-size: 44px;
    display: flex;
    justify-self: flex-start;
    margin-top: 64px;
}

.tarjeta {
    font-family: "Avenir-Roman";
    width: 1312px;
    height: 549px;
    display: flex;
    justify-items: center;
    gap: 56px;
    margin-top: 69px;
}

